.App {
  text-align: center;
}

div p {
  font-size: 2em;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.mute-icon {
  position: absolute;
  right: 3%;
  top: 3%;
  width: 30px;
  height: 30px;
}
