.App {
  text-align: center;
}

div p {
  font-size: 2em;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.card-collection {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-gap: 3%;
  margin-left: 3%;
  background-color: #fff;
  color: lightblue;
}

.mute-icon {
  position: absolute;
  right: 3%;
  top: 3%;
  width: 30px;
  height: 30px;
}
