.App {
  text-align: center;
}

div p {
  font-size: 3em;
  font-family: "Arial Black", "Arial", sans-serif;
  color: lightblue;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.mute-icon {
  position: absolute;
  right: 3%;
  top: 3%;
  width: 30px;
  height: 30px;
}
