.card-wrapper {
    position: relative;
    width: 100%;
    height: 250px; 

    background-color: lightblue;
    color: #fff;
    border-radius: 5px;
    font-size: 150%;
    perspective: 600px;
}

.card { 
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 1s, width 1s, height 1s;
}

.is-flipped {
    transform: rotateY(180deg);
    background: green;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

.selection {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: green;
}

.card-face {
    display: block;
    position: absolute;
    max-height: 90%;
    max-width: 90%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform-style: preserve-3d;
}

.front {
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
