.screen-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    cursor: pointer;
}

.selected-card-wrapper {
    position: fixed;
    width: 85vw;
    height: 85vh;
    top: 7.5%;
    left: 7.5%;
    z-index: 2;

    background-color: lightblue;
    color: #fff;
    border-radius: 5px;
    font-size: 150%;
    perspective: 600px;
    cursor: default;
}

.selected-card { 
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    transform-style: preserve-3d;
    transition: transform 2s;
}

.card-face {
    display: block;
    position: absolute;
    max-height: 90%;
    max-width: 90%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform-style: preserve-3d;
}

.front {
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
